.contactUs {
  background: #F5F5F5;
  position: relative;
  padding-bottom: 255px;
}
.contactUs .headerImg {
  position: absolute;
  right: 0;
  top: 80px;
  width: 50%;
  z-index: 1;
}
.contactUs .headerImg img {
  width: 100%;
}
.contactUs .map {
  width: 85%;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
}
.contactUs-form {
  width: 80%;
  background: #222938;
  border-radius: 20px;
  margin: auto;
  padding: 30px 85px;
}
.feedback-form {
  width: 70%;
  background: #222938;
  border-radius: 20px;
  margin: auto;
  padding: 30px 85px;
}

@media screen and (max-width: 1200px) {
  .feedback-form {
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .contactUs-form {
    width: 100%;
    padding: 25px 15px;
  }
  .feedback-form {
    width: 100%;
    padding: 25px 25px;
  }
}
@media screen and (max-width: 768px) {
  .contactUs {
    padding-bottom: 150px;
  }
}
@media screen and (max-width: 600px) {
  .contactUs .headerImg {
    top: 68px;
  }
}
@media screen and (max-width: 400px) {
  .contactUs {
    padding-bottom: 80px;
}
}

.slick-arrow {
  /* border: 1px solid red; */
}
.slick-arrow::before{
  display: none;
}