.siup2_ellipse-icon6 {
    position: absolute;
    top: 2176px;
    left: -194px;
    width: 634px;
    height: 634px;
}

.siup2_ellipse-icon7,
.siup2_ellipse-icon8 {
    position: absolute;
    top: 0;
    left: 0;
    width: 1317px;
    height: 904px;
}

.siup2_ellipse-icon8 {
    left: 123px;
}

.siup2_ellipse-icon10,
.siup2_ellipse-icon9 {
    position: absolute;
    top: 3278px;
    left: 1123px;
    width: 634px;
    height: 634px;
}

.siup2_ellipse-icon10 {
    top: 0;
    left: 0;
    width: 1440px;
    height: 904px;
}

.siup2_welcome-to-help-center1 {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 60px;
    display: none;
    width: 624px;
}

.siup2_group-div5,
.siup2_group-div6 {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}

.siup2_group-div5 {
    top: -532px;
    left: 7577px;
    text-align: center;
    font-size: 40px;
    color: #191a15;
}

.siup2_vector-icon1 {
    position: absolute;
    height: 0.74%;
    width: 1.11%;
    top: 21.35%;
    right: 83.54%;
    bottom: 77.91%;
    left: 15.35%;
    max-width: 100%;
    max-height: 100%;
}

.siup2_my-account-p1 {
    margin-block-start: 0;
    margin-block-end: 0;
}

.siup2_logout-p1 {
    margin: 0;
}

.siup2_my-account-help-center-logout1 {
    position: absolute;
    top: 1136px;
    left: 71px;
    font-size: 24px;
    display: inline-block;
}

.siup2_ellipse-icon11 {
    position: absolute;
    left: -522px;
    top: -198px;
    width: 1301px;
    height: 1301px;
}

.siup2_back-div,
.siup2_enablemint-div1 {
    position: absolute;
    display: inline-block;
}

.siup2_back-div {
    top: 708px;
    left: 544px;
    font-size: 14px;
    text-decoration: underline;
    font-weight: 500;
    text-align: right;
    color: #fff;
    background-color: transparent;
    border: none;
}

.css-3v5nb6-MuiFormLabel-root-MuiInputLabel-root {
    top: 9px !important;
}

.css-kzf2d7-MuiInputBase-root-MuiOutlinedInput-root {
    border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -o-border-radius: 10px !important;
}

.siup2_sign-up-div1:disabled {
    background-color: #a6a6a6;
}

.siup2_enablemint-div1 {
    top: 53px;
    left: 102px;
    font-size: 20px;
    width: 134px;
    height: 19px;
}

.siup2_logo-1-icon1 {
    position: absolute;
    top: 37px;
    left: 47px;
    width: 51px;
    height: 51px;
    object-fit: cover;
}

.siup2_first-name-div {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 500;
    display: inline-block;
    width: 122px;
    height: 15px;
}

.siup2_rectangle-textfield2 {
    border: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    border-radius: 10px;
    background-color: #fff;
    position: absolute;
    top: 33.22px;
    left: 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.siup2_enter-first-name {
    position: absolute;
    top: 49px;
    left: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #a6a6a6;
    display: inline-block;
    width: 167px;
    height: 13px;
}

.siup2_group-div7,
.siup2_group-div8 {
    position: absolute;
    top: 309px;
    left: 129px;
    width: 220px;
    height: 85px;
}

.siup2_group-div8 {
    left: 361px;
}

.siup2_company-name-div {
    position: absolute;
    top: 410px;
    left: 130px;
    font-weight: 500;
    display: inline-block;
    width: 162px;
    height: 18px;
}

.siup2_rectangle-textfield4 {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    border: 0;
    border-radius: 10px;
    background-color: #fff;
    position: absolute;
    top: 444px;
    left: 130px;
}

.siup2_job-title-div {
    position: absolute;
    top: 509px;
    left: 129px;
    font-weight: 500;
    display: inline-block;
    width: 162px;
    height: 18px;
}

.siup2_rectangle-textfield5 {
    border: 0;
    border-radius: 10px;
    background-color: #fff;
    position: absolute !important;
    top: 545px;
    left: 129px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.siup2_enter-company-name,
.siup2_enter-job-title {
    position: absolute;
    top: 461px;
    left: 150px;
    font-size: 14px;
    font-weight: 500;
    color: #a6a6a6;
    display: inline-block;
    width: 156px;
    height: 13px;
}

.siup2_enter-job-title {
    top: 563px;
}

.siup2_rectangle-div1 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 11px;
    background-color: #388e3c;
    width: 450.98px;
    height: 51.15px;
}

.siup2_sign-up-div1 {
    position: absolute;
    font-weight: 600;
    display: inline-block;
    top: 0;
    left: 0;
    border: none;
    border-radius: 11px;
    background-color: #388e3c;
    width: 450.98px;
    height: 51.15px;
}

.siup2_group-div10,
.siup2_group-div9 {
    position: absolute;
    top: 0;
    left: 0;
    width: 450.98px;
    height: 51.15px;
}

.siup2_group-div9 {
    top: 619px;
    left: 129px;
    cursor: pointer;
    font-size: 16px;
}

.siup2_create-your-account1 {
    position: absolute;
    top: 239px;
    left: 129px;
    font-size: 32px;
    display: inline-block;
    text-align: center;
    width: 452px;
    height: 18px;
}

.siup2_asset-1-8 {
    position: absolute;
    top: 239px;
    left: 849px;
    width: 475px;
    height: 492.09px;
    object-fit: cover;
}

.siup2_sign-up-workflow-page-2 {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 904px;
    overflow: hidden;
    text-align: left;
    font-size: 18px;
    color: #fff;
    font-family: Inter;
}